.login-page {
    text-align: center;
    margin-top: 10px;
    
}

.login-page h1 {
    color: black;
    font-size: 30px;
    /* font-weight: bold; */
}



.login-btn {
    /* background-color: #0f172a; */
    /* color:; */
    border: none;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
