.Navbarstyle{
   background-color: #0f172a;
    padding:15px;
    display:flex;
    justify-content:center;
    /* gap:30px; */
    justify-content: space-around;




    .Navbarstyle{
    margin-bottom:20px;
}
}

.Navbarstyle a{
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
}

.Navbarstyle a:hover{
    color:yellow;
}